.form-sign-in {
    display: flex;
    flex-direction: column;
    width: 55%;
}

.form-sign-in input{
    height: 45px;
    border: none;
    background-color: #ecf0f1;
    width: 100%;
    padding: 20px;
}

.label-input-sign-in {
    display: flex;
    align-items: center;
    background-color: #ecf0f1;
    margin: 8px;
}

.btn-sign-in {
    border-radius: 15px;
    text-transform: uppercase;
    font-size: 10px;
    padding: 10px 50px;
    color: #fff;
    background-color: #1D8DFF;
    font-weight: bold;
    width: 150px;
    align-self: center;
    border-width: 0px;
    transition: filter .2s;
    margin: 20px;
}

.btn-sign-in:hover {
    filter: brightness(1.2);
    cursor: pointer;
}

.icon-modify-sign-in {
    color: #7f8c8d;
    size: 20px;
    margin: 5px;
}

.link-sign-in {
    color: #34495e;
    font-size: 14px;
    margin: 15px 0;
    text-align: center;
}
.link-sign-in::first-letter {
    text-transform: capitalize;
}

.password {
    margin: 5px 10px 15px;
    text-align: right;
}